.add-plant-nav {
    display: flex;
    position: absolute;
    top: 0;
    margin: 20px;
}

.add-plant-container {
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-plant-header {
    width: 80vw;
    font-size: 38px;
    top: 100px;
    position: absolute;
    text-align: center;
}

.input-button {
    display: flex;
    flex-direction: column;
    width: 85vw;
    align-items: flex-end;
}

.add-plant-input {
    width: 85vw;
    height: 60px;
    border: none;
    border-bottom: 1px solid goldenrod;
    padding: 15px;
    font-size: 15px;
    bottom: 53vh;
    position: fixed;
}
.add-plant-button {
    width: 40vw;
    background: lightgray;
    border: none;
    padding: 15px;
    bottom: 40vh;
    position: fixed;
    font-size: 15px;
}

.stepOf {
    text-align: center;
    width: 80vw;
}
