.add-plant-nav {
    display: flex;
    position: absolute;
    top: 0;
    margin: 20px;
    width: 100vw;
}

.add-plant-container {
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-plant-header {
    width: 80vw;
    font-size: 32px;
    top: 110px;
    position: absolute;
    text-align: center;
}

.input-button {
    display: flex;
    flex-direction: column;
    width: 85vw;
    align-items: flex-end;
}

.add-plant-input {
    width: 85vw;
    height: 50px;
    border: none;
    border-bottom: 1px solid goldenrod;
    padding: 15px;
}
.add-plant-button {
    width: 30vw;
    background: lightgray;
    border: none;
    padding: 10px;
    margin: 20px 0px;
}

.stepOf {
    text-align: center;
    width: 80vw;
}

.upload-container {
}

.upload {
    display: flex;
    flex-direction: column;
    border: 2px solid;
    height: 250px;
    justify-content: center;
    width: 65vw;
}
