.all-plants-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

.all-plants-header {
    font-size: 8vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.info-wrapper {
    display: flex;
    width: 85vw;
    height: 20vw;
    margin-top: 7vw;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: 0px 0px 36px -10px rgba(0, 0, 0, 0.5);
}

.all-plants-pic {
    height: 100%;
    
    object-fit: contain;
}

.all-plants-arrow-right {
    color: goldenrod;
    font-size: 20px;
    padding: 3vw;
}
