.header {
    text-align: center;
    padding-top: 6vw;
}

.container {
    display: flex;
    overflow-x: scroll;
    width: 100vw;
    position: absolute;
    bottom: 12vh;
}

.all-good {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 35vh;
}

.fa-exclamation-circle {
    padding-right: 4px;
    color: goldenrod;
}

.plants-container {
    display: flex;
    justify-content: flex-start;
}

.plant-box {
    -webkit-touch-callout: none !important;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 35vw;
    margin: 10vw 5vw 8vw 5vw;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 36px -10px rgba(0, 0, 0, 0.75);
}

.wobble {
    animation: wobble 0.2s infinite;
    -webkit-animation: wobble 0.2s infinite;
    -moz-animation-duration: 0.2s;
    -moz-animation-name: wobble;
    -moz-animation-iteration-count: infinite;
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
}

#reminder-header {
    margin: 8vw 0vw 2vw 0vw;
    font-size: 15.5px;
}

.reminder-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

.water-me-box {
    display: flex;
    width: 85vw;
    background: white;
    box-shadow: 0px 0px 36px -10px rgba(0, 0, 0, 0.5);
    height: 9vh;
    margin: 2.5vh 0vh 0vh 0vh;
    justify-content: space-between;
    align-items: center;
}

.water-me-wrapper {
    display: flex;
    align-items: center;
}

.water-me-pic {
    height: 8vh;
}

.box {
    display: flex;
    flex-direction: column;
    margin: 10vw 5vw 8vw 10vw;
    background-color: #622f4b;
    border-radius: 10px;
    box-shadow: 0px 0px 36px -10px rgba(0, 0, 0, 0.75);
}

.plant-pic {
    height: 75%;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.overview-name {
    text-align: center;
    height: 20%;
    padding-top: 10%;
    border-top: 1px solid lightgray;
    margin: 5%;
}

.delete-plant-icon {
    background-color: grey;
    margin: 30px 25px 25px 5px;
    position: absolute;
    z-index: 4;
    font-size: 25px;
    color: lightgrey;
    border-radius: 50%;
    border: lightgrey 0.5px solid;
}

#add-box {
    background-color: #622f4b;
    width: 35vw;
    height: 250px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
}

#add {
    text-align: center;
    background-color: #622f4b;
    color: white;
    font-size: 25px;
}

@keyframes wobble {
    0% {
        transform: rotate(-1deg);
    }
    50% {
        transform: rotate(1deg);
    }
}

@-webkit-keyframes wobble {
    0% {
        -webkit-transform: rotate(-1deg);
    }
    50% {
        -webkit-transform: rotate(1deg);
    }
}

@-moz-keyframes wobble {
    0% {
        -moz-transform: rotate(-1deg);
    }
    50% {
        -moz-transform: rotate(1deg);
    }
}
