* {
    box-sizing: border-box;
    margin: 0;

    font-family: "Raleway";
}

body {
    background-color: whitesmoke;
}

.nav-bar {
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding-bottom: 8px;
    padding-top: 10px;
    background-color: white;
    box-shadow: 0px 2px 28px -5px rgba(0, 0, 0, 0.75);
    z-index: 4;
}

.nav {
    font-size: 40px;
    text-decoration: none;
    color: grey;
}

.arrow-left {
    color: goldenrod;
    font-size: 25px;
}

.upload-container {
    position: absolute;
    background: whitesmoke;
    top: 0px;
    left: 0px;
    bottom: 0;
    width: 100vw;
}

.water-schedule {
    position: absolute;
    background: whitesmoke;
    top: 0px;
    left: 0px;
    bottom: 0;
    width: 100vw;
}
